<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    
    <add key="Address" value="http://google.lt"/>
    <add key="CheckPhrase" value ="&lt;a class=&quot;btn btn-sm btn-default btn-trans&quot; href=&quot;test&quot;&gt;&lt;b&gt;CONTRIBUTE NOW&lt;/b&gt;&lt;/a&gt;"/>

    <add key="SleepAfterRequestMS" value="10000"/>

    <add key="TimerS" value="60"/>
    <add key="DestinationEmail" value="myemail@gmail.com"/>
    
    <add key="FromEmail" value="myemail.development@gmail.com"/>
    <add key="FromEmailPassword" value="psw"/>

  </appSettings>


</configuration>